<!DOCTYPE html>
<html>
<head>
    <title>Jordan Ranson</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="site.css">
    <script src="components/prefix-free/prefixfree.min.js"></script>
    <script src="components/jquery/jquery.min.js"></script>
    <script src="site.js"></script>
</head>
<body>

<canvas class="bg-cvs" id="background"></canvas>

<header>
    <h1>Jordan Ranson</h1>
    <nav>
        <div class="social-icon twitter"><a href="https://twitter.com/jordanranson" target="_blank"><img width="32" src="images/twitter.svg"></a></div>
        <div class="social-icon github"><a href="https://github.com/jordanranson" target="_blank"><img width="32" src="images/github.svg"></a></div>
        <div class="social-icon linkedin"><a href="http://www.linkedin.com/in/jordanranson" target="_blank"><img width="32" src="images/linkedin.svg"></a></div>
        <input type="text" placeholder="search">
        <div class="top-btn">
            <em>&times;</em>
            <span> Close</span>
        </div>
    </nav>
</header>

<nav class="nav nav-top">
    <div class="nav-left out">
        <a href="#"><em></em> Social Feed</a>
    </div>
    <div class="nav-right">
        <a href="#">Projects <em></em></a>
    </div>
</nav>

<nav class="nav nav-bottom out">
    <div class="nav-left out">
        <a href="#"><em></em> Social Feed</a>
    </div>
    <div class="nav-right">
        <a href="#">Projects <em></em></a>
    </div>
</nav>

{{{body}}}

</body>
</html>